.flexRowCenter {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.flexColumnCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}